@import "tailwindcss";

@theme {
  --font-sans: InterVariable, sans-serif;
  --deepblue-500: #023047;
  --amber-500: #fb8500;
  --alabaster-500: #e0e1dd;
}

.bg-deepblue {
  background-color: var(--deepblue-500);
}

.bg-amber {
  background-color: var(--amber-500);
}

.bg-alabaster {
  color: var(--alabaster-50);
}

.sidebar {
  width: 200px;
  height: 100%;
  background-color: black;
  position: relative;
  margin-right: 30px;
}

.content {
  display: inline-flex;
}

.item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1;
  gap: 15px;
  margin: auto;
  justify-content: center;
  margin-top: 50px;
  margin-left: 40px;
  padding: 8px;
}

.data {
  width: 300px;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 0 12px;
  background-color: aqua;
}
