@import "tailwindcss";

@theme {
  --font-sans: InterVariable, sans-serif;
  --deepblue-500: #023047;
  --amber-500: #fb8500;
  --alabaster-500: #e0e1dd;
}

.bg-deepblue {
  background-color: var(--deepblue-500);
}

.bg-amber {
  background-color: var(--amber-500);
}

.bg-alabaster {
  color: var(--alabaster-50);
}

.home {
  overflow: none;
}
.mainHome {
  overflow-x: hidden;
  height: 100vh;
}

.spir {
  height: 300px;
  width: 100%;
  padding-bottom: 30px;
  background-image: url("../assets/bk.jpg");
}

.spir > h2 {
  margin: auto;
  font-size: 30px;
  text-align: center;
  width: 700px;
  padding-top: 100px;
}

.sidebar {
  width: 200px;
  background-color: #023047;
  position: relative;
  /* margin-right: 30px; */
  color: #fff;
}

.content {
  display: inline-flex;
}

.item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin: 40px 10px 20px 150px;
  height: 700px;

  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: 10px;
}
.item::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #023047;
}

.data {
  width: 300px;
  height: 280px;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #023047;
  color: #fff;
  overflow: hidden;
}

.dataCont {
  height: 230px;
  overflow: hidden;
  background-color: #023047;
  transition: background 0.3s;
}
.dataCont:hover {
  cursor: pointer;
}

.button {
  margin-right: 6px;
}

.hove :hover {
  background: #d4cfcf;
}

.add {
  background: #023047;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  padding: 12px;
  font-size: 20px;
  font-weight: 900;
  display: flex;
  color: #fff;
  cursor: pointer;
  box-sizing: content-box;
}

.add:hover {
  background: #035781;
}

.overde {
  border: none;
  width: 100%;
  margin: 30px 5px 0;
}

.overlay {
  position: fixed;
  /* background: rgba(168, 168, 205, 0.652); */
  width: 100%;
  height: 100%;
  z-index: 5;
  overflow: hidden;
}

.container {
  display: flext;
  left: 60%;
  top: 50%;
  max-width: 750px;
  max-height: 700px;
  background-color: #ffffff;
  backdrop-filter: blur;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  position: fixed;
  transform: translate(-50%, -50%);
  box-sizing: content-box;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: 10px;
}

.container::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #023047;
}

.modelRight {
  position: fixed;
  right: 10px;
  margin: 7px;
  padding: 5px;
}

.modelRight > p {
  font-size: 14px;
  cursor: pointer;
  border-radius: 80%;
  background-color: #b7bbbe7b;
  padding: 5px;
  margin: 9px;
}

.modelData > h2 {
  text-align: center;
  margin: 17px;
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
}

.tiptap {
  position: relative;
  width: 95%;
  /* height: 120px; */
  border: 1px solid rgb(197, 191, 191);
  background: rgb(244, 242, 242);
  border-radius: 5px;
  margin: 12px;
  padding: 5px;
  place-items: 5px;
}

.button-group > button {
  margin: 3px;
  font-weight: 400;
  font-size: 15px;
  cursor: pointer;
  max-width: 100%;
  padding-left: 12px;

  color: #fff;
}

.button-group > button:hover {
  font-weight: bold;
  text-decoration: underline;
}

.button-group {
  margin: 9px;
  padding: 5px;
  background: #000b11;
  border-radius: 10px;
  width: 95%;
}

.title {
  margin: 8px;
  padding: 12px;
  border: 1px solid rgb(197, 191, 191);
  background: rgb(244, 242, 242);
  width: 95%;
  box-sizing: border-box;
  font-weight: bold;
}

.btn {
  margin: 0 auto 20px;
  display: flex;
  padding: 4px;
  font-weight: bold;
  background: #000b11;
  color: #fff;
  box-sizing: border-box;
  width: 200px;
  justify-content: center;
  height: 40px;
  cursor: pointer;
  place-items: center;
  border-radius: 10px;
  bottom: 12px;
}

.loading {
  margin: 0 auto;
  float: right;
  font-size: 25px;
  color: #023047;
  font-weight: bold;
}

.backbtn {
  display: inline-flex;
  position: relative;
  width: 100%;
  border-bottom: 1px solid gray;
}

.blocks {
  display: inline-block;
  margin: 18px;
  padding: 7px;
}

.blocks > button {
  display: inline-block;
  margin: 12px;
  padding: 9px;
  border-radius: 10px;
  outline: 1px solid gray;
  cursor: pointer;
  font-size: 18px;
  position: relative;
  color: #023047;
}
.blocks > button:hover {
  text-decoration: underline;
}

.plan {
  display: block;
  justify-content: center;
  max-width: 90%;
  margin: auto;
  padding: 12px;
  outline: 1px solid rgba(128, 128, 128, 0.335);
  border-radius: 10px;
}

.edit {
  max-width: 90%;
  margin: auto;
  padding-top: 50px;
}

.wideScreen {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.icoDev {
  display: none;
}
.mobCont {
  margin-top: 7%;
}

.mobTextDes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -20px;
}

.mobText {
  margin-top: -60px;
}

.SignUp_bt {
  margin-top: -30px;
  margin-bottom: 50px;
}

.About-Use {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.contentHere {
  width: 500px;
  margin: 12px;
  padding: 8px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.AbutText {
  font-weight: bold;
  font-size: 20px;
  margin: 12px;
}
.contentHere > p {
  margin: 12px;
}

.feedback {
  width: 500px;
}
.feedCon {
  display: block;
  margin: 8px;
}

.feedCon > input {
  display: block;
  padding: 12px;
  outline: 1px solid #035781;
  width: 100%;
  place-items: 5px;
  margin: 8px;
  border-radius: 5px;
}

.feedCon > textarea {
  padding: 12px;
  width: 100%;
  outline: 1px solid #035781;
  margin: 8px;
}

.feedBtn {
  width: 90%;
  padding: 8px;
  margin: 12px auto;
  background: #021526;
  color: white;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  display: block;
  transition: padding 0.5s;
}
.feedBtn:hover {
  padding: 7px;
  cursor: pointer;
  background: #054e8ead;
}

.footBase {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0px auto;
  background: #021526;
  color: #d4cfcf;
  padding: 5px;
}

.socialIcon {
  display: inline-block;
  margin-top: 14px;
  margin-right: 30px;
}

.socialIcon > i {
  display: block;
  text-align: center;
  size: 10;
  margin: 12px;
  cursor: pointer;
}

.terms {
  margin-top: 12px;
}

.terms > ul > li {
  margin: 13px;
}

.terms > ul > li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.signBox {
  margin-bottom: 70px;
}
.linkBar {
  display: none;
}

/* image scrolling */
.imageScroller {
  width: 100%;
  margin-bottom: 80px;
  margin-top: 40px;
}

.imageScroller > h1 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 20px;
  width: 100%;
  background: #021526;
  mask: linear-gradient(90deg, transparent, white 20%, white 70%, transparent);
  padding: 5px;
  color: #fff;
}

.tagList {
  margin-bottom: 30px;
}

.tagList > li {
  list-style: none;
  margin: 12px 0 100px 12px;
  width: 200px;
  height: 100px;
  padding-block: 12px;
}

.tagList > li > img {
  object-fit: contain;
  margin-bottom: 12px;
}

.scroller_inner {
  display: flex;
  flex-wrap: wrap;
  padding-block: 8px;
  width: max-content;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 40%,
    white 70%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 40%, white 70%, transparent);
}
.scroller[data-animated="true"] .scroller_inner {
  flex-wrap: nowrap;
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  to {
    transform: translate(-50%, 6px);
  }
}

.AdminLogin {
  margin: 120px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000b11;
  width: 400px;
  height: 400px;
  border-radius: 10px;
}
.AdminLogin > form {
  margin-top: 5px;
  width: 95%;
  display: block;
  padding: 12px;
}
.AdminLogin > form > h1 {
  text-align: center;
  color: rgba(255, 255, 255, 0.776);
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}

.AdminLogin > form > input {
  display: block;
  color: rgba(255, 255, 255, 0.776);
  padding: 8px;
  outline: 1px solid white;
  width: 100%;
  margin-top: 20px;
}
.AdminLogin > form > input:focus {
  outline: 2px solid green;
}

.AdminLogin > form > p {
  color: gray;
  margin: 10px;
}
.AdminBtn {
  width: 100%;
  color: #000b11;
  background: rgba(255, 255, 255, 0.776);
  margin-top: 20px;
  font-size: 15px;
  padding: 12px;
  border-radius: 10px;
}

.adMain {
  background: #000b11;
  color: rgba(255, 255, 255, 0.776);
  width: 100%;
  height: 100vh;
  position: relative;
  background-position: center;
}
.containerDiv {
  display: block;
  padding: 12px;
  border: 1px solid red;
}
@media screen and (max-width: 800px) {
  .mobile {
    display: none;
  }

  .icoDev {
    display: flex;
    padding: 10px;
    position: relative;
    color: #fff;
  }

  .MobDisplayIcon {
    position: relative;
    background: #021526c9;
    width: 100%;
    display: inline-flex;
    transition: 0.5s;
  }

  .Mobile_item {
    display: inline-block;
    width: 100%;
  }

  .items {
    display: block;
    margin: 12px;
    padding: 4px;
    border-bottom: 1px solid rgb(143, 139, 139);
    color: white;
  }

  .mobileBtn {
    width: 100%;
    display: flex;
    margin: auto;
    justify-content: space-around;
  }

  .btn1 {
    padding: 3px;
    margin-bottom: 4px;
    color: white;
    font-weight: bold;
  }

  .mobCont {
    display: block;
    text-align: center;
    margin-top: 20%;
    padding: 12px;
  }

  .mobText {
    margin-left: 20px;
    margin-top: 20px;
  }
  .mobTextDes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  .futurep {
    padding-left: 0;
  }
  .SignUp_bt {
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .welText {
    font-size: 40px;
  }

  .spir > h2 {
    margin: 12px;
    font-size: 20px;
    text-align: center;
    width: 90%;
  }

  .spir {
    width: 100%;
    background-image: url("../assets/bk.jpg");
  }

  .About-Use {
    width: 100%;
    display: block;
    align-items: center;
    margin: 8px;
  }

  .contentHere {
    margin: 12px;
    padding: 8px;
    width: 90%;
    text-align: center;

    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .feedback {
    width: 100%;
  }

  .feedCon {
    display: block;
    margin-left: 8px;
    margin-top: 50px;
    width: 90%;
  }

  .feedCon > input {
    display: block;
    padding: 12px;
    outline: 1px solid #035781;
    width: 100%;
    place-items: 5px;
    margin: 8px;
  }

  .feedCon > textarea {
    padding: 12px;
    width: 100%;
    outline: 1px solid #035781;
    margin: 8px;
  }

  .signBox {
    width: 85%;
    margin-bottom: 50px;
  }

  .combine {
    display: flex;
  }

  .icoDev1 {
    display: flex;
    padding: 10px;
    margin-top: 6px;
    position: relative;
    color: #fff;
  }

  .linkBar {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #023047;
    padding: 4px;
  }

  .overde1 {
    display: flex;
    border: none;
    z-index: 1;
  }

  .add2 {
    border-radius: 10px;

    font-size: 15px;
    font-weight: 900;
    display: flex;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
  }

  .ai {
    color: white;
    font-weight: bold;
  }

  .item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 1;
    gap: 15px;
    margin: auto;
    justify-content: center;
    margin-top: 40px;
    padding: 8px;
  }

  .container {
    max-height: 700px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: 10px;
    display: block;
    justify-content: center;
    transform: translate(-60%, -40%);
  }

  .overlay {
    width: 100%;
    z-index: 5;
  }

  .backbtn {
    display: block;
    position: relative;
    width: 100%;
    color: black;
    border-bottom: 1px solid gray;
  }
}
